.css-heg063-MuiTabs-flexContainer{
    display: flex;
    justify-content: space-around;
    height: 100%;

}
.css-4hy3gp-MuiButtonBase-root-MuiTab-root.Mui-selected{
    border-radius: 12px;
    background: #ECF3FE
}
.css-61sb3q-MuiTabs-indicator{
    display: none;
}
.MuiOutlinedInput-root.MuiInputBase-root.MuiInputBase-colorPrimary.MuiInputBase-formControl.css-1je24tv-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root{
    height: 48px;
    border-radius: 8px;
}
.MuiOutlinedInput-root.MuiInputBase-root.MuiInputBase-colorPrimary.MuiInputBase-fullWidth.MuiInputBase-formControl.MuiInputBase-adornedStart.css-dkf1az-MuiInputBase-root-MuiOutlinedInput-root{
    height: 48px;

}
.css-d1wk2y-MuiFormLabel-root-MuiInputLabel-root{
    right: 30%;
}
.css-updps5-MuiFormLabel-root-MuiInputLabel-root{
    right: 30%;

}
.css-6hp17o-MuiList-root-MuiMenu-list{
    direction: rtl ;
}